

@font-face {
    font-family: NanumSquareNeo;
    src: url("./fonts/NanumSquareNeoOTF-aLt.otf") format('truetype');
    font-weight: 200;
  }
  @font-face {
    font-family: NanumSquareNeo;
    src: url("./fonts/NanumSquareNeoTTF-bRg.eot?#iefix") format('embedded-opentype'),
         url("./fonts/NanumSquareNeoTTF-bRg.woff2") format('woff2'),
         url("./fonts/NanumSquareNeoTTF-bRg.woff") format('woff'),
         url("./fonts/NanumSquareNeoOTF-bRg.otf") format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: NanumSquareNeo;
    src: url("./fonts/NanumSquareNeoTTF-cBd.eot?#iefix") format('embedded-opentype'),
         url("./fonts/NanumSquareNeoTTF-cBd.woff2") format('woff2'),
         url("./fonts/NanumSquareNeoTTF-cBd.woff") format('woff'),
         url("./fonts/NanumSquareNeoOTF-cBd.otf") format('opentype');
    font-weight: 700;
  }
  @font-face {
    font-family: NanumSquareNeo;
    src: url("./fonts/NanumSquareNeoTTF-dEb.eot?#iefix") format('embedded-opentype'),
         url("./fonts/NanumSquareNeoTTF-dEb.woff2") format('woff2'),
         url("./fonts/NanumSquareNeoTTF-dEb.woff") format('woff'),
         url("./fonts/NanumSquareNeoOTF-dEb.otf") format('opentype');
    font-weight: 900;
  }
  
  @font-face {
      font-family: NanumSquareNeoRegular;
      src: url("./fonts/NanumSquareNeoTTF-bRg.eot?#iefix") format('embedded-opentype'),
           url("./fonts/NanumSquareNeoTTF-bRg.woff2") format('woff2'),
           url("./fonts/NanumSquareNeoTTF-bRg.woff") format('woff'),
           url("./fonts/NanumSquareNeoOTF-bRg.otf") format('opentype');
  }
  @font-face {
      font-family: NanumSquareNeoBold;
      src: url("./fonts/NanumSquareNeoTTF-cBd.eot?#iefix") format('embedded-opentype'),
           url("./fonts/NanumSquareNeoTTF-cBd.woff2") format('woff2'),
           url("./fonts/NanumSquareNeoTTF-cBd.woff") format('woff'),
           url("./fonts/NanumSquareNeoOTF-cBd.otf") format('opentype');
  }
  @font-face {
      font-family: NanumSquareNeoExtraBold;
      src: url("./fonts/NanumSquareNeoTTF-dEb.eot?#iefix") format('embedded-opentype'),
           url("./fonts/NanumSquareNeoTTF-dEb.woff2") format('woff2'),
           url("./fonts/NanumSquareNeoTTF-dEb.woff") format('woff'),
           url("./fonts/NanumSquareNeoOTF-dEb.otf") format('opentype');
  }
  @font-face {
      font-family: NanumSquareNeoHeavyBold;
      src: url("./fonts/NanumSquareNeoTTF-eHv.eot?#iefix") format('embedded-opentype'),
           url("./fonts/NanumSquareNeoTTF-eHv.woff2") format('woff2'),
           url("./fonts/NanumSquareNeoTTF-eHv.woff") format('woff'),
           url("./fonts/NanumSquareNeoOTF-eHv.otf") format('opentype');
  }
  
  @font-face {
    font-family: NanumMyeongjo;
    src: url("./fonts/NanumMyeongjo.otf") format('truetype');
    font-weight: 200;
  }
  @font-face {
    font-family: NanumMyeongjo;
    src: url("./fonts/NanumMyeongjoBold.otf") format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: NanumMyeongjo;
    src: url("./fonts/NanumMyeongjoExtraBold.otf") format('truetype');
    font-weight: 700;
  }

* {
    font-family: NanumSquareNeo;
}

html, body {
    height:100%;
    padding: 0;
    margin: 0;
    color: white;
  }
html{
    background-image: url('../img/background.jpg');
    background-size: cover;
}
body {
    background: rgba(0, 0, 0, 0.466);
}
#home-content{
    text-align: center;
    padding-top: 20%;
}
