{% extends 'base.html' %}


{% block content %}

<style> 
    textarea {
        width: 100%;
        height: 100px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
    /* input[type="range"] {
        width: 100%;
        border-radius: 5px;
    } */
    input[type=range] {
        height: 33px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 17px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #8B9EA9;
        border-radius: 50px;
        border: 0px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 2px solid #9C9C9C;
        height: 25px;
        width: 50px;
        border-radius: 23px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #8B9EA9;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 17px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #8B9EA9;
        border-radius: 50px;
        border: 0px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 2px solid #9C9C9C;
        height: 25px;
        width: 50px;
        border-radius: 23px;
        background: #FFFFFF;
        cursor: pointer;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 17px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #8B9EA9;
        border: 0px solid #000000;
        border-radius: 100px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
        background: #8B9EA9;
        border: 0px solid #000000;
        border-radius: 100px;
        box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 2px solid #9C9C9C;
        height: 25px;
        width: 50px;
        border-radius: 23px;
        background: #FFFFFF;
        cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #8B9EA9;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #8B9EA9;
    }
    output {
        background: #3a4348;
        padding: 5px 16px;
        border-radius: 3px;
        color: #fff;
    }
    /* input[type=submit] {
        background: #000000;
    } */
</style>

<div class="container">
    <h1>Class page</h1>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <hr>
    <h2 class="mt-3 mb-3">{{ poll }}</h2>
    <form action="{% url 'polls:vote' poll.id %}" method="POST">
        {% csrf_token %}
        <!-- {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <br>
        {% endfor %} -->
        <div class="slidecontainer">
            <h4>Vote</h4> Value ( 0 = EASY, 10 = HARD ) : <output id="rangevalue">5</output>
            <br>
            <input type="range" name="choice" min="0" max="10" value="{{ choice.id }}" class="slider" id="rangeSlect" oninput="rangevalue.value=value">
        </div>
        Comment : <br>
        <textarea name="comment"></textarea>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary mt-3">
        <a class="btn btn-warning mt-3" href="{% url 'polls:list' %}" role="button">Cancel</a>
    </form>

</div>

{% endblock content %}
