{% extends "base.html"  %}
{% block content %}

    <style>
        .grid-container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
        }
        .grid-container > div {
        text-align: left;
        padding: 20px 0;
        }
    </style>

    <body style="background-color: hsl( {{color_scale}} , 100%, 50%)">
        <h2>   {{ class_name }}</h2>
        <div class="grid-container">
            <div>
                Vote at 141.147.169.204:8080 or class.memorandus.me <br>
                Refresh every 5 seconds <br>
                total votes : {{ total_votes }} <br>
                mean value : {{ meanValue }}  <br> <br>
                <form method="POST" action="/{{ class_name }}">
                    <input type="submit" name="reset" value="Reset Votes and Comments">
                </form>
                <br>
                -- choices --
                <ul style="padding-left:20px; font-size: 20px">
                {% for attr in choices %}
                <li>{{ attr }}</li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <ul style="padding-left:20px; font-size: 25px">
                {% for attr in comments %}
                    <li>{{ attr }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </body> 
    <script>
        setTimeout('location.reload()', 5000);
    </script>
{% endblock %}

