{% extends "base.html"  %}
{% block content %}

    <style>
        .grid-container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
        }
        .grid-container > div {
        text-align: left;
        padding: 20px 0;
        }

        @font-face {
    font-family: NanumSquareNeo;
    src: url("./../../static/css/fonts/NanumSquareNeoOTF-aLt.otf") format('truetype');
    font-weight: 200;
  }
  @font-face {
    font-family: NanumSquareNeo;
    src: url("./../../static/css/fonts/NanumSquareNeoTTF-bRg.eot?#iefix") format('embedded-opentype'),
         url("./../../static/css/fonts/NanumSquareNeoTTF-bRg.woff2") format('woff2'),
         url("./../../static/css/fonts/NanumSquareNeoTTF-bRg.woff") format('woff'),
         url("./../../static/css/fonts/NanumSquareNeoOTF-bRg.otf") format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: NanumSquareNeo;
    src: url("./../../static/css/fonts/NanumSquareNeoTTF-cBd.eot?#iefix") format('embedded-opentype'),
         url("./../../static/css/fonts/NanumSquareNeoTTF-cBd.woff2") format('woff2'),
         url("./../../static/css/fonts/NanumSquareNeoTTF-cBd.woff") format('woff'),
         url("./../../static/css/fonts/NanumSquareNeoOTF-cBd.otf") format('opentype');
    font-weight: 700;
  }
  @font-face {
    font-family: NanumSquareNeo;
    src: url("./../../static/css/fonts/NanumSquareNeoTTF-dEb.eot?#iefix") format('embedded-opentype'),
         url("./../../static/css/fonts/NanumSquareNeoTTF-dEb.woff2") format('woff2'),
         url("./../../static/css/fonts/NanumSquareNeoTTF-dEb.woff") format('woff'),
         url("./../../static/css/fonts/NanumSquareNeoOTF-dEb.otf") format('opentype');
    font-weight: 900;
  }
  
  @font-face {
      font-family: NanumSquareNeoRegular;
      src: url("./../../static/css/fonts/NanumSquareNeoTTF-bRg.eot?#iefix") format('embedded-opentype'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-bRg.woff2") format('woff2'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-bRg.woff") format('woff'),
           url("./../../static/css/fonts/NanumSquareNeoOTF-bRg.otf") format('opentype');
  }
  @font-face {
      font-family: NanumSquareNeoBold;
      src: url("./../../static/css/fonts/NanumSquareNeoTTF-cBd.eot?#iefix") format('embedded-opentype'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-cBd.woff2") format('woff2'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-cBd.woff") format('woff'),
           url("./../../static/css/fonts/NanumSquareNeoOTF-cBd.otf") format('opentype');
  }
  @font-face {
      font-family: NanumSquareNeoExtraBold;
      src: url("./../../static/css/fonts/NanumSquareNeoTTF-dEb.eot?#iefix") format('embedded-opentype'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-dEb.woff2") format('woff2'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-dEb.woff") format('woff'),
           url("./../../static/css/fonts/NanumSquareNeoOTF-dEb.otf") format('opentype');
  }
  @font-face {
      font-family: NanumSquareNeoHeavyBold;
      src: url("./../../static/css/fonts/NanumSquareNeoTTF-eHv.eot?#iefix") format('embedded-opentype'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-eHv.woff2") format('woff2'),
           url("./../../static/css/fonts/NanumSquareNeoTTF-eHv.woff") format('woff'),
           url("./../../static/css/fonts/NanumSquareNeoOTF-eHv.otf") format('opentype');
  }
  
  @font-face {
    font-family: NanumMyeongjo;
    src: url("./../../static/css/fonts/NanumMyeongjo.otf") format('truetype');
    font-weight: 200;
  }
  @font-face {
    font-family: NanumMyeongjo;
    src: url("./../../static/css/fonts/NanumMyeongjoBold.otf") format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: NanumMyeongjo;
    src: url("./../../static/css/fonts/NanumMyeongjoExtraBold.otf") format('truetype');
    font-weight: 700;
  }

* {
    font-family: NanumSquareNeo;
}

    </style>

    <body style="background-color: hsl( {{color_scale}} , 100%, 50%)">
        <h2>   {{ class_name }}</h2>
        <div class="grid-container">
            <div>
                Vote at 141.147.169.204:8080 or class.memorandus.me <br>
                Refresh every 5 seconds <br>
                total votes : {{ total_votes }} <br>
                mean value : {{ meanValue }}  <br> <br>
                <form method="POST" action="/{{ class_name }}">
                    <input type="submit" name="reset" value="Reset Votes and Comments">
                </form>
                <br>
                -- choices --
                <ul style="padding-left:20px; font-size: 20px">
                {% for attr in choices %}
                <li>{{ attr }}</li>
                {% endfor %}
                </ul>
            </div>
            <div>
                <ul style="padding-left:20px; font-size: 25px">
                {% for attr in comments %}
                    <li>{{ attr }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </body> 
    <script>
        setTimeout('location.reload()', 5000);
    </script>
{% endblock %}

