{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Class Vote System</h1>
                <h3>How are you doing?</h3>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">Start!</a>
                <hr>
                <a class="btn btn-dark btn-lg" href="http://class.memorandus.me:8888" role="button-link">WebChatGPT 🤖🤖</a>
                <hr><hr><hr>
                <h5>한국해양대학교</h5>
                <h5>해양공학과</h5>
                <h6>최원석</h6>
            </div>
        </div>
    </div>
</div>
{% endblock content %}